@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

:root {
    --color-backaground: #F3F5FC;
    --color-texto-h2: #343A40;
    --color-texto-p: #495057;
    --color-backaground-TextoDesencriptar: #FFFFFF;
    --color-background-boton-encriptar: #0A3871;
    --color-background-boton-Desencriptar: #D8DFE8;
    --color-text-boton-encriptar: #FFFFFF;
    --color-text-boton-Desencriptar: #0A3871;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-backaground);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.div_logoAlura {
    margin: 2% 0% 0% 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.div_main {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: auto;
    height: 90vh;
}



.div_textoEncriptar {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    width: 65%;
    height: 70vh;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 0%;
    padding-top: 2%;
}

::placeholder {
    font-family: "Inter", sans-serif;
    color: var(--color-background-boton-encriptar);
    font-size: 1.7rem;
}

#textarea {
    box-sizing: border-box;
    width: auto;
    height: 70vh;
    padding: 0%;
    margin-right: 20%;
    border: none;
    outline: none;
    background-color: var(--color-backaground);
    font-family: "Inter", sans-serif;
    color: var(--color-background-boton-encriptar);
    font-family: Inter;
    font-size: 1.7rem;
    font-weight: 350;
    resize: none;
}

.div_textoEncriptar-mensajeIndicativo {
    display: flex;
    margin-top: 0.5%;
    font-family: "Inter", sans-serif;
    font-size: 0.65rem;
    gap: 0.2%;
}

.div_textoEncriptar-botones {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-top: 0.5%;
}

.div_textoEncriptar-botonEncriptar {
    width: 42%;
    padding: 2.2% 0% 2.2% 0%;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: var(--color-background-boton-encriptar);
    font-size: 1rem;
    color: var(--color-text-boton-encriptar);
    font-style: normal;
    font-weight: 350;
    font-family: "Inter", sans-serif;
}

.div_textoEncriptar-botonDesencriptar {
    width: 42%;
    padding: 2.2% 0% 2.2% 0%;
    flex-shrink: 0;
    border-radius: 1.2rem;
    border: 1px solid var(--color-text-boton-Desencriptar);
    background: var(--color-background-boton-Desencriptar);
    font-size: 1rem;
    color: var(--color-text-boton-Desencriptar);
    font-style: normal;
    font-weight: 350;
    font-family: "Inter", sans-serif;
}

.div_textoDesencriptado {
    box-sizing: border-box;
    display: flex;
    width: 20%;
    height: 100vh;
    margin-top: -3.5%;
    margin-bottom: 3%;
    padding-top: 10%;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: var(--color-backaground-TextoDesencriptar);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
}

#div_textoEncriptado {
    display: none;
    height: 85%;
    width: 90%;
    margin-top: 7%;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    overflow: hidden;
    word-wrap: break-word;

}

#textoEncriptado {
    width: 100%;
    padding: 4%;

}

#div_botonCopiar{
    box-sizing: border-box;
    display: none;
    width: 100%;
    height: 9%;
    justify-content: center;
}
#botonCopiar {
    width: 90%;
    flex-shrink: 0;
    border-radius: 1.2rem;
    border: 1px solid var(--color-text-boton-Desencriptar);
    background: var(--color-backaground-TextoDesencriptar);
    font-size: 1rem;
    color: var(--color-text-boton-Desencriptar);
    font-style: normal;
    font-weight: 350;
    font-family: "Inter", sans-serif;
}

.div_textoDesencriptado-imagenmuneco {
    padding: 0% 0% 32px 0%;
    width: 100%;
    height: auto;
    background-color: var(--color-backaground-TextoDesencriptar);
}

.div_textoDesencriptado-containertextos {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
    width: 70%;
}

h2 {
    color: var(--color-texto-h2);
    margin-bottom: 7%;
}

#mensajeIndicativo {
    color: #495057;
}

p {
    color: var(--color-texto-p);
}

@media (max-width: 1200px) {
    .div_logoAlura {
        margin-bottom: 25%;
    }

    .div_main {
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    #textarea {
        width: 90%;
        padding-left: 0%;
        margin-left: 4%;
        font-size: 2.5rem;
    }

    ::placeholder {
        font-size: 2.5rem;
    }

    .div_textoEncriptar {
        width: 100%;
        margin-left: 0%;
    }

    .div_textoEncriptar-mensajeIndicativo {
        margin: 0%;
        padding-right: 10%;
        font-size: 1rem;
    }

    .div_textoEncriptar-botones {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3%;
    }

    .div_textoEncriptar-botonEncriptar {
        width: 100%;
        padding: 4% 0% 4% 0%;
        font-size: 1.5rem;
    }

    .div_textoEncriptar-botonDesencriptar {
        width: 100%;
        padding: 4% 0% 4% 0%;
        font-size: 1.5rem;
    }

    .div_textoDesencriptado {
        width: auto;
        margin-top: 15%;
        margin-bottom: 10%;
        margin-left: 6%;
        margin-right: 6%;
        justify-content: center;
        padding-bottom: 5%;
    }

    .div_textoDesencriptado-imagenmuneco {
        width: 0%;
        height: 0%;
    }

    .div_textoDesencriptado-containertextos {
        font-size: 1.2rem;
    }
}